Escribe una dirección web: <input type="text" placeholder="http://www.as.com">
<button onclick="envia()">Send</button>

<div id="web_externa">


</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script type="application/javascript">
function envia(){
    alert("p");
}

</script>